* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 0 3rem;
}

h1,
h2 {
  margin: 1rem;
}

.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
}

.card {
  position: relative;
  width: 350px;
  height: 300px;
  list-style: none;
  border-radius: 10px;
}

.card-img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.47);
}
